body{
	max-width: 80%;
	margin: auto;
    font: 16px/24px 'Comfortaa',Helvetica,Arial,sans-serif;
}

/* i{
    color:blue;
} */
/* -----------------------------------------------------------------------
Thank you for a wonderful semester and class! 
You are an amazing professor! 
Stay safe and kind!
- Myra :)
-----------------------------------------------------------------------*/